/*
 * Structure
 */

body {
  background-color: #000;
  color: #ffd;
}

a, a:hover {
  color: #ffd;
  text-decoration: underline;
}

.mm-bg-image {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.5;

  /* Preserve aspect ratio */
  min-width: 100%;
  min-height: 100%;
  z-index: -999;
}

.container-mm {
  max-width: 55em;
}

.container-mm-inner {
  background-color: rgba(10, 10, 10, 0.2);
}

.container-mm-header {
  background-color: rgba(10, 10, 10, 0.8);
  margin-bottom: 0.2em;
  margin-left: 16px;
  margin-right: 16px;
  padding: 10px;
}

.container-mm-header-logo {
  margin-bottom: 1em;
  margin-top: 2.5em;
}

.container-mm-header-menu {
  margin-bottom: 0.5em;
  margin-top: 1.5em;
}

.container-mm-video {
  line-height: 0;
  margin-bottom: 0.2em;
}

.container-mm-news {
  background-color: rgba(10, 10, 10, 0.7);
  margin-bottom: 4px;
  padding: 1em;
  padding-bottom: 0.1em;
}

.container-mm-info {
  background-color: rgba(10, 10, 10, 0.8);
  margin-bottom: 0.3em;
  padding: 0;
  text-align: left;
}

.container-mm-info table {
  color: #ffd;
  margin: 1em;
  margin-top: 2.5em;
}

.container-mm-info table td {
  padding: 0.2em;
}

.container-mm-info a {
  color: #ffd;
}

.container-mm-bandsintown {
  background-color: rgba(10, 10, 10, 0.8);
  padding: 20px;
  padding-bottom: 0px;
}

.container-mm-networks {
  padding: 20px;
}

/**
 * Utilies
 */

.btn-mm {
  border: 0;
  border-radius: 0;
  color: #ffd;
  padding: 0;
  padding-left: 0.2em;
  padding-right: 0.2em;
  text-decoration: underline;
  vertical-align: top;
}

.btn-mm:hover {
  background-color: #eed;
  color: #222;
  text-decoration: none;
}

.btn-mm-menu {
  margin-left: 1em;
  margin-right: 1em;
  padding: 0.2em;
}

.mm-hidden-email {
  color: #ffd;
  padding: 2px;
  text-decoration: underline;
}

.mm-hidden-email:hover {
  background-color: #eed;
  color: #222;
  text-decoration: none;
}

.mm-hh {
  background: #ffd;
  color: #222;
  margin-right: 2px;
  padding-left: 1px;
  padding-right: 2px;
}

.mm-hw {
  font-family: 'Caveat', serif;
  font-size: 1.2em;
}
