.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}

/*
 * Base structure
 */

body {
  background-color: #000;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

.bg-image {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.5;

  /* Preserve aspect ratio */
  min-width: 100%;
  min-height: 100%;
  z-index: -999;
}

.cover-container {
  max-width: 50em;
}

.custom-container {
  background-color: rgba(10, 10, 10, 1);
}

.custom-header {
  margin-top: -60px;
}

.custom-title {
  background-color: #222;
  padding: 15px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.custom-lead {
  color: #888;
}

.custom-email {
  color: #ddd;
  text-decoration: underline;
}

.lang-container {
  margin: 15px;
  text-align: right;
  top: 0;
}

.lang-container a {
  color: #FFF;
}

/*
 * Header
 */

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}
