---
layout: default
title: page.index.title
description: page.index.description
background: /assets/img/bg-darkwall.png
og_image: https://maanenfaces.com/assets/img/maanenfaces-og-image.png
---

{% include bg_band.html %}

<div class="container-fluid scroll-margin">
  {% include default_header.html %}
</div>

<div class="container-fluid blacked-top-texture"></div>

<div class="container-fluid blacked-bg">
  {% include block_band.html %}
  {% include block_press.html %}
  {% include block_videos.html %}
  {% include block_music.html %}
  {% include block_shows.html %}
  {% include block_photos.html %}
  {% include block_contact.html %}
</div>
