---
layout: default
title: Maanen Faces - Site Officiel
description: Site officiel de Maanen Faces, groupe de Rock Psych Stoner, Nantes, France
---
<div id="releases" class="container-fluid scroll-margin">
  <div class="container">
    <div class="row releases-content">
      <div class="col">
        <div class="releases-cover">
          <img alt="Promo Damned And Doomed EP"
               class="img-fluid"
               src="/assets/img/maanenfaces-releases-cover-damned-and-doomed.png">
        </div>
      </div>
      <div class="col-lg text-center">
        <div>
          <h1 class="visually-hidden">Maanen Faces</h1>
          <p style="margin-top: 5.5em;">
            <img alt="Logo Text Maanen Faces"
                 src="/assets/img/maanenfaces-logo-nom.png"
                 width="90%">
          </p>
          <div class="d-flex flex-wrap justify-content-center">
            <div class="p-1" style="
                background-color: #f92100;
                font-size: 2.1em;
                font-weight: bold;
                margin: 0.2em;
                text-transform: uppercase;
                ">{% t _.new_ep %}</div>
            <div class="p-1" style="
                background-color: #fff;
                color: #e00;
                font-size: 2.1em;
                margin: 0.2em;
                text-transform: uppercase;
                ">{% t _.damned_and_doomed_release_date %}</div>
          </div>
          <div class="p-2">
            #rock #psych #stoner #daemons
          </div>
          <div class="p-2">
            «&nbsp;{% t _.damned_and_doomed_promo_sentence %}&nbsp;»&nbsp;-&nbsp;Jul.
          </div>
          <div class="p-2">
            {% t _.available_on_all_streaming_platforms %}
          </div>
          <ul class="mf-streaming">
            <li>
              <a href="https://maanenfaces.bandcamp.com/">
                <img alt="Bandcamp" class="sn-icon" fetchpriority="high"
                     src="/assets/img/icon-bandcamp.png">
              </a>
            </li>
            <li>
              <a href="https://open.spotify.com/intl-fr/artist/11ke0XMBCgAzA9XzgW9VaY">
                <img alt="Spotify" class="sn-icon" fetchpriority="high"
                     src="/assets/img/icon-spotify.png">
              </a>
            </li>
            <li>
              <a href="https://www.deezer.com/artist/259060302">
                <img alt="Deezer" class="sn-icon" fetchpriority="high"
                     src="/assets/img/icon-deezer.png">
              </a>
            </li>
            <li>
              <a href="https://music.apple.com/artist/maanen-faces/1736745855">
                <img alt="Apple Music" class="sn-icon" fetchpriority="high"
                     src="/assets/img/icon-applemusic.png">
              </a>
            </li>
            <li>
              <a href="https://music.amazon.com/artists/B0CYQ9PH57/maanen-faces">
                <img alt="Amazon Music" class="sn-icon" fetchpriority="high"
                     src="/assets/img/icon-amazonmusic.png">
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Force next columns to break to new line -->
      <div class="w-100"></div>
      <div class="col-lg text-center" style="margin-top: 2em;">
        {% include dad_purchase_link.html %}
        {% include follow_buttons.html %}
      </div>
    </div>
  </div>
</div>

<div class="container-fluid texture-top"></div>

<div id="main" class="container-fluid bg-black">

  <div id="bio" class="container scroll-margin">
    <div class="row">
      <div class="col text-center">
        <h2 class="visually-hidden">BIO</h2>
        <img class="mf-section-title-img"
             src="/assets/img/section-title-bio.png" width="200" />
      </div>
    </div>
    <div class="row">
      <div class="col-lg">
        <div class="container-mf-info-bio">
          {% tf bio.html %}
          <p style="margin-bottom:0;">
            <u>Influences:</u><br/>
            Electric Wizard, The Black Angels, Deftones,
            Queens Of The Stone Age, Sonic Youth, Idles,
            King Gizzard And The Lizard Wizard
          </p>
        </div>
        <table class="table table-borderless">
          <tbody>
            <tr>
              <td>
                <u>{% t _.musicians %}</u><br/>
              </td>
              <td>
                <span class="mf-hh mf-hw">Clément</span>
                {% t _.instru_electric_guitar %}<br/>
                <span class="mf-hh mf-hw">Emmanuel</span>
                {% t _.instru_bass_guitar %}/{% t _.instru_vocals %}<br/>
                <span class="mf-hh mf-hw">Julien</span>
                {% t _.instru_keyboards %}<br/>
                <span class="mf-hh mf-hw">Thomas</span>
                {% t _.instru_drums %}<br/>
              </td>
            </tr>
            <tr>
              <td><span class="mf-hh">Email</span></td>
              <td>
                <span class="mf-hidden-email">maanenfaces<span
                style="display: none;">ANTISPAM</span>@tuta.io</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-lg-6" id="band-photo" >
        <div id="photoCarousel" class="carousel slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#photoCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#photoCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#photoCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100"
                     src="/assets/img/maanenfaces-photo-groupe-2024-03.png"
                     alt="Photo de groupe 3 de Maanen Faces">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100"
                     src="/assets/img/maanenfaces-photo-groupe-2024-02.png"
                     alt="Photo de groupe 2 de Maanen Faces">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100"
                     src="/assets/img/maanenfaces-photo-groupe-2024-01.png"
                     alt="Photo de groupe 1 de Maanen Faces">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#photoCarousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon"
                    aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#photoCarousel" data-bs-slide="next">
              <span class="carousel-control-next-icon"
                    aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
      </div>
    </div>
  </div>

  <div id="videos" class="container scroll-margin">
    <div class="row">
      <div class="col text-center">
        <h2 class="visually-hidden">VIDEOS</h2>
        <img class="mf-section-title-img"
             src="/assets/img/section-title-videos-{{ site.lang }}.png" width="200" />
      </div>
    </div>
    <div class="row">
      <div class="col-lg col-media col-media-red">
        <iframe
          width="100%"
          height="400"
          src="https://www.youtube.com/embed/Hmeufh3Gnw0?si=6btOSivH5tNx9HYx&amp;start=180"
          title="Damned And Doomed EP on 666MrDoom Channel"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen></iframe>
        <div class="videos-mf-desc">
          <span class="text-bg-dark p-1">EP</span>
          Damned And Doomed // 666MrDoom Channel
        </div>
      </div>
      <div class="col-lg-7 col-media col-media-red">
        <iframe
          width="100%"
          height="400"
          src="https://www.youtube.com/embed/v-e65pddTZQ?si=nNqDW_VLwwjHbHNy"
          title="Robots (Live) @ Supersonic (PARIS, FR) // {% t month.july %} 2024"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="videos-mf-desc">
          <span class="text-bg-dark p-1">LIVE</span>
          Supersonic (PARIS, FR) // {% t month.july %} 2024
        </div>
      </div>
      <!-- Force next columns to break to new line -->
      <div class="w-100"></div>
      <div class="col-lg col-media col-media-red">
        <iframe
          width="100%"
          height="315"
          src="https://www.youtube.com/embed/sAlVA4UXb5g?si=VWyEXoqF8J4ZHMDQ"
          title="Selfish Block (Live) @ La Gapette (LES EPESSES, FR) // {% t month.december %} 2023"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="videos-mf-desc">
          <span class="text-bg-dark p-1">LIVE</span>
          La Gapette (LES EPESSES, FR) // {% t month.december %} 2023
        </div>
      </div>
      <div class="col-lg col-media col-media-red">
        <iframe
          width="100%"
          height="315"
          src="https://www.youtube.com/embed/Fc51jEKNkII?si=SMIZyCC_YoIiazH9"
          title="Destroy This World (Live) @ Evil Town Party (MALVILLE, FR) // {% t month.july %} 2023"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="videos-mf-desc">
          <span class="text-bg-dark p-1">LIVE</span>
          Evil Town Party (MALVILLE, FR) // {% t month.july %} 2023
        </div>
      </div>
      <div class="col-lg col-media col-media-red">
        <iframe
          width="100%"
          height="315"
          src="https://www.youtube.com/embed/cC433ETwIro?si=MnzViDIhLKvfmgGs"
          title="The Black Angel (Live) @ La Jouandière (CARQUEFOU, FR) // {% t month.november %} 2022"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="videos-mf-desc">
          <span class="text-bg-dark p-1">LIVE</span>
          La Jouandière (CARQUEFOU, FR) // {% t month.november %} 2022
        </div>
      </div>
    </div>
  </div>

  <div id="press" class="container scroll-margin">
    <div class="row">
      <div class="col text-center">
        <h2 class="visually-hidden">PRESS</h2>
        <img class="mf-section-title-img"
             src="/assets/img/section-title-press-{{ site.lang }}.png" width="200" />
      </div>
    </div>
    <div class="row">
      <div class="col-lg col-media">
        <a target="_blank"
           href="https://doomed-nation.com/french-psychedelic-stoner-rockers-maanen-faces-stream-their-debut-ep-damned-and-doomed-out-now-on-digipack-cd-and-digital/">
          <img class="d-block w-100"
               src="/assets/img/press-2024-web-doomednation.png">
        </a>
      </div>
      <div class="col-lg col-media">
        <a target="_blank"
           href="https://lesonunique.com/mysun/podcast/15125/">
          <img class="d-block w-100"
               src="/assets/img/press-2024-radio-sun.png"
               alt="">
        </a>
      </div>
      <div class="col-lg col-media">
        <a target="_blank"
           href="https://podcasts.jadefm.fr/@reportages/episodes/les-estivales-de-comberge-episode-3/">
          <img class="d-block w-100"
               src="/assets/img/press-2024-radio-jadefm.png"
               alt="">
        </a>
      </div>
    </div>
  </div>

  <div id="shows" class="container scroll-margin text-center">
    <div class="row">
      <div class="col text-center">
        <h2 class="visually-hidden">SHOWS</h2>
        <img class="mf-section-title-img"
             src="/assets/img/section-title-shows-{{ site.lang }}.png" width="200" />
        <p>
          {% t _.for_booking_a_show_contact_us_on %}
          <span class="mf-hidden-email">maanenfaces<span
                    style="display: none;">ANTISPAM</span>@tuta.io</span>.
        </p>
      </div>
    </div>
    <div id="bandsintown" class="row mf-bg-dark">
      <script charset="utf-8" src="https://widgetv3.bandsintown.com/main.min.js"></script>
      <a class="bit-widget-initializer"

        data-artist-name="id_15511678"

        data-background-color="transparent"
        data-separator-color="rgba(75,75,75,1)"
        data-text-color="#fff"
        data-font="Helvetica"
        data-auto-style="true"

        data-button-label-capitalization="capitalize"
        data-header-capitalization="undefined"
        data-location-capitalization="capitalize"
        data-venue-capitalization="capitalize"
        data-display-local-dates="false"
        data-local-dates-position="tab"
        data-display-past-dates="true"
        data-display-details=""
        data-display-lineup="false"
        data-display-start-time="true"
        data-social-share-icon="true"
        data-display-limit="all"

        data-date-format="MMM. D, YYYY"
        data-date-orientation="horizontal"
        data-date-border-color="#9B9B9B"
        data-date-border-width="1px"
        data-date-capitalization="undefined"
        data-date-border-radius="10px"

        data-event-ticket-cta-size="small"
        data-event-custom-ticket-text="undefined"
        data-event-ticket-text="TICKETS"
        data-event-ticket-icon="false"
        data-event-ticket-cta-text-color="#fff"
        data-event-ticket-cta-bg-color="rgba(34,34,34,1)"
        data-event-ticket-cta-border-color="#9B9B9B"
        data-event-ticket-cta-border-width="0px"
        data-event-ticket-cta-border-radius="4px"

        data-sold-out-button-text-color="#fff"
        data-sold-out-button-background-color="#9B9B9B"
        data-sold-out-button-border-color="#9B9B9B"
        data-sold-out-button-clickable="true"

        data-event-rsvp-position="hidden"
        data-event-rsvp-cta-size="small"
        data-event-rsvp-only-show-icon="true"
        data-event-rsvp-text="REMIND ME"
        data-event-rsvp-icon=""
        data-event-rsvp-cta-text-color="#fff"
        data-event-rsvp-cta-bg-color="#222"
        data-event-rsvp-cta-border-color="#9B9B9B"
        data-event-rsvp-cta-border-width="0px"
        data-event-rsvp-cta-border-radius="4px"

        data-follow-section-position="hidden"
        data-follow-section-alignment="center"
        data-follow-section-header-text="Get updates on new shows, new music, and more."
        data-follow-section-cta-size="medium"
        data-follow-section-cta-text="FOLLOW"
        data-follow-section-cta-icon="true"
        data-follow-section-cta-text-color="#fff"
        data-follow-section-cta-bg-color="#9B9B9B"
        data-follow-section-cta-border-color="#9B9B9B"
        data-follow-section-cta-border-width="0px"
        data-follow-section-cta-border-radius="4px"

        data-play-my-city-position="hidden"
        data-play-my-city-alignment="center"
        data-play-my-city-header-text="Don’t see a show near you?"
        data-play-my-city-cta-size="small"
        data-play-my-city-cta-text="DEMANDER UNE PROGRAMMATION"
        data-play-my-city-cta-icon="false"
        data-play-my-city-cta-text-color="#fff"
        data-play-my-city-cta-bg-color="rgba(34,34,34,1)"
        data-play-my-city-cta-border-color="#9B9B9B"
        data-play-my-city-cta-border-width="0px"
        data-play-my-city-cta-border-radius="4px"

        data-language="{{ site.lang }}"
        data-layout-breakpoint="900"
        data-app-id=""
        data-affil-code=""
        data-bit-logo-position="hidden"
        data-bit-logo-color="rgba(100,100,100,1)"

        data-optin-font="undefined"
        data-optin-text-color="undefined"
        data-optin-bg-color="undefined"
        data-optin-cta-text-color="undefined"
        data-optin-cta-bg-color="undefined"
        data-optin-cta-border-width="undefined"
        data-optin-cta-border-radius="undefined"
        data-optin-cta-border-color="undefined"
        ></a>
    </div>
  </div>
</div>

{% include dad_bg.html %}
