<div>
  <img class="bg-obj bg-obj-image default"
       src="/assets/img/bg-abf-sea-cables.png"
       alt="Image de fond du site">
  <video id="bg-video" class="bg-obj bg-obj-video abf" autoplay loop muted playsinline>
    <source src="/assets/video/bg-code-loop-480.mp4" type="video/mp4">
  </video>
  <script language="JavaScript">
    window.addEventListener('load', function() {
      var bgVideo = document.getElementById('bg-video');
      bgVideo.addEventListener('ended', function() {
            this.currentTime = 0;
            this.play();
      }, false);
      bgVideo.play();
    });
  </script>
</div>
