<div>
  <img class="bg-obj bg-obj-image band d-none d-md-block"
       src="/assets/img/bg-band-2-maanenfaces-black-opale-photo.jpg"
       alt="Image de fond du site">
  <img class="bg-obj bg-obj-image band mobile d-md-none"
       src="/assets/img/bg-abf-sea-cables.png"
       alt="Image de fond du site (version mobile)">
  <video id="bg-video" class="bg-obj bg-obj-video band" autoplay loop muted playsinline>
    <source src="/assets/video/bg-abstract-train-motion-cinematic-lowglitch-320.mp4" type="video/mp4">
  </video>
  <script language="JavaScript">
    window.addEventListener('load', function() {
      var bgVideo = document.getElementById('bg-video');
      bgVideo.addEventListener('ended', function() {
            this.currentTime = 0;
            this.play();
      }, false);
      bgVideo.play();
    });
  </script>
</div>
