{% assign show_full_bio = include.show_full_bio | default: "true" %}
{% assign show_lineup = include.show_lineup | default: "true" %}
{% assign show_section_title = include.show_section_title | default: "true" %}
{% assign show_text_only = include.show_text_only | default: "false" %}

<div id="band" class="container scroll-margin pb-3">
    {% if show_section_title == "true" %}
    <div class="row">
        <div class="col text-center">
            <h2 class="visually-hidden">{% t h2_sections.band %}</h2>
            <img class="mf-section-title-img"
                 src="/assets/img/section-title-bio.png" width="200" />
        </div>
    </div>
    {% endif %}
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="bg-dark p-4 mb-3 lh-lg" style="--bs-bg-opacity: 0.6;">
                {% unless show_text_only == "true" %}
                <div class="d-none d-md-block float-end ms-4 mb-3">
                    <img src="/assets/img/maanenfaces-logo-visages.png" class="img-fluid" alt="Maanen Faces band photo" width="400" />
                </div>
                <div class="d-md-none mb-3 text-center">
                    <img src="/assets/img/maanenfaces-logo-visages.png" class="img-fluid" alt="Maanen Faces band photo" width="80%" />
                </div>
                {% endunless %}

                {% tf bio_short.html %}
                {% if show_full_bio == "true" %}{% tf bio_extended.html %}{% endif %}
            </div>
        </div>
    </div>
</div>
