<div id="shows" class="container scroll-margin">
    <div class="row">
        <div class="col text-center pb-4">
            <h2 class="visually-hidden">SHOWS</h2>
            <img class="mf-section-title-img"
                 src="/assets/img/section-title-shows-{{ site.lang }}.png" width="200" />
            <p>
                {% t _.for_booking_a_show_contact_us_on %}
                <span class="mf-hidden-email">maanenfaces<span style="display: none;">ANTISPAM</span>@tuta.io</span>.
            </p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-10 text-center">

            <div id="bandsintown" class="row mf-bg-dark">
                <script charset="utf-8" src="https://widgetv3.bandsintown.com/main.min.js"></script>
                <a class="bit-widget-initializer"
                    data-artist-name="id_15511678"

                    data-background-color="transparent"
                    data-separator-color="rgba(75,75,75,1)"
                    data-text-color="#fff"
                    data-font="Helvetica"
                    data-auto-style="true"

                    data-button-label-capitalization="capitalize"
                    data-header-capitalization="undefined"
                    data-location-capitalization="capitalize"
                    data-venue-capitalization="capitalize"
                    data-display-local-dates="false"
                    data-local-dates-position="tab"
                    data-display-past-dates="true"
                    data-display-details="true"
                    data-display-lineup="false"
                    data-display-start-time="true"
                    data-social-share-icon="true"
                    data-display-limit="all"

                    data-date-format="MMM. D, YYYY"
                    data-date-orientation="horizontal"
                    data-date-border-color="#9B9B9B"
                    data-date-border-width="1px"
                    data-date-capitalization="undefined"
                    data-date-border-radius="10px"

                    data-event-ticket-cta-size="small"
                    data-event-custom-ticket-text="undefined"
                    data-event-ticket-text="TICKETS"
                    data-event-ticket-icon="false"
                    data-event-ticket-cta-text-color="#fff"
                    data-event-ticket-cta-bg-color="rgba(34,34,34,1)"
                    data-event-ticket-cta-border-color="#9B9B9B"
                    data-event-ticket-cta-border-width="0px"
                    data-event-ticket-cta-border-radius="4px"

                    data-sold-out-button-text-color="#fff"
                    data-sold-out-button-background-color="#9B9B9B"
                    data-sold-out-button-border-color="#9B9B9B"
                    data-sold-out-button-clickable="true"

                    data-event-rsvp-position="hidden"
                    data-event-rsvp-cta-size="small"
                    data-event-rsvp-only-show-icon="true"
                    data-event-rsvp-text="REMIND ME"
                    data-event-rsvp-icon=""
                    data-event-rsvp-cta-text-color="#fff"
                    data-event-rsvp-cta-bg-color="#222"
                    data-event-rsvp-cta-border-color="#9B9B9B"
                    data-event-rsvp-cta-border-width="0px"
                    data-event-rsvp-cta-border-radius="4px"

                    data-follow-section-position="hidden"
                    data-follow-section-alignment="center"
                    data-follow-section-header-text="Get updates on new shows, new music, and more."
                    data-follow-section-cta-size="medium"
                    data-follow-section-cta-text="FOLLOW"
                    data-follow-section-cta-icon="true"
                    data-follow-section-cta-text-color="#fff"
                    data-follow-section-cta-bg-color="#9B9B9B"
                    data-follow-section-cta-border-color="#9B9B9B"
                    data-follow-section-cta-border-width="0px"
                    data-follow-section-cta-border-radius="4px"

                    data-play-my-city-position="hidden"
                    data-play-my-city-alignment="center"
                    data-play-my-city-header-text="Don’t see a show near you?"
                    data-play-my-city-cta-size="small"
                    data-play-my-city-cta-text="DEMANDER UNE PROGRAMMATION"
                    data-play-my-city-cta-icon="false"
                    data-play-my-city-cta-text-color="#fff"
                    data-play-my-city-cta-bg-color="rgba(34,34,34,1)"
                    data-play-my-city-cta-border-color="#9B9B9B"
                    data-play-my-city-cta-border-width="0px"
                    data-play-my-city-cta-border-radius="4px"

                    data-language="{{ site.lang }}"
                    data-layout-breakpoint="900"
                    data-app-id=""
                    data-affil-code=""
                    data-bit-logo-position="hidden"
                    data-bit-logo-color="rgba(100,100,100,1)"

                    data-optin-font="undefined"
                    data-optin-text-color="undefined"
                    data-optin-bg-color="undefined"
                    data-optin-cta-text-color="undefined"
                    data-optin-cta-bg-color="undefined"
                    data-optin-cta-border-width="undefined"
                    data-optin-cta-border-radius="undefined"
                    data-optin-cta-border-color="undefined"
                ></a>
            </div>

        </div>
    </div>
</div>