<div id="videos" class="container scroll-margin pb-3">
    <div class="row">
        <div class="col text-center pb-4">
            <h2 class="visually-hidden">VIDEOS</h2>
            <img class="mf-section-title-img"
                 src="/assets/img/section-title-videos-{{ site.lang }}.png" width="200" />
        </div>
    </div>
    <div class="row justify-content-center">

        <div class="col-lg-10">
            <div class="border border-custom mb-4">
                <div class="auto-resize-yt-iframe">
                    <div>
                        <iframe src="https://www.youtube.com/embed/ZSJXdmLLRPk?start=125"
                                title="Robots, by Maanen Faces" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-5">
            <div class="border border-custom mb-4">
                <div class="auto-resize-yt-iframe">
                    <div>
                        <iframe src="https://www.youtube.com/embed/rlWcj0XZGqk?start=159"
                                title="Selfish Block, by Maanen Faces" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-5">
            <div class="border border-custom mb-4">
                <div class="auto-resize-yt-iframe">
                    <div>
                        <iframe src="https://www.youtube.com/embed/4bgefnqWa5Y?start=880"
                                title="A Brilliant Future by Maanen Faces on 666MrDoom Channel" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-5">
            <div class="border border-custom mb-4">
                <div class="auto-resize-yt-iframe">
                    <div>
                        <iframe src="https://www.youtube.com/embed/v-e65pddTZQ"
                                title="Robots (Live) @ Supersonic (PARIS, FR) {% t month.july %} 2024, by Maanen Faces" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-5">
            <div class="border border-custom mb-4">
                <div class="auto-resize-yt-iframe">
                    <div>
                        <iframe src="https://www.youtube.com/embed/Hmeufh3Gnw0?start=175"
                                title="Damned And Doomed EP by Maanen Faces on 666MrDoom Channel" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col text-center">
            <a class="btn btn-outline-light" href="https://www.youtube.com/@MaanenFaces" target="_blank" rel="noopener">
                {% t _.all_videos_on_youtube %}
            </a>
        </div>
    </div>
</div>
