<div id="press" class="container scroll-margin pb-3">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="bg-dark p-4 lh-lg rounded-2" style="--bs-bg-opacity: 0.6;">
                <p>
                    {% t _.on_social_media %} :
                </p>
                <ul>
                    <li>
                        <a href="https://forum.hellfest.fr/t/breizh-scene-locale-emergente-lieux-de-concert/3435/545"
                           class="link" target="_blank">Breizh Scene Locale, émergente lieux de concert</a>
                        - Hellfest Forum ({% t month.september %} 2025)
                    </li>
                    <li>
                        <a href="https://progrockjournal.com/review-maanen-faces-a-brilliant-future/"
                           class="link" target="_blank">[Review] Maanen Faces – A Brilliant Future</a>
                        - Prog Rock Journal ({% t month.april %} 2025)
                        <blockquote class="blockquote">
                            A good debut for this band that offers a sound somewhere between Psychedelic Prog and Stoner Rock.
                        </blockquote>
                    </li>
                    <li>
                        <a href="https://lesonunique.com/mysun/podcast/19346"
                           class="link" target="_blank">Du Bruit à l'Ouest S02#28 avec MAANEN FACES</a>
                        - Podcast Radio SUN ({% t month.april %} 2025)
                    </li>
                    <li>
                        <a href="https://jadefm.fr/news/les-estivales-de-comberge-retrospective-119"
                           class="link" target="_blank">Les Estivales de Comberge, rétrospective</a>
                        - Podcast Radio JadeFM ({% t month.july %} 2024)
                    </li>
                    <li>
                        <a href="https://doomed-nation.com/french-psychedelic-stoner-rockers-maanen-faces-stream-their-debut-ep-damned-and-doomed-out-now-on-digipack-cd-and-digital/"
                           class="link" target="_blank">Maanen Faces streams its debut EP Damned And Doomed</a>
                        - Doomed Nation ({% t month.may %} 2024)
                    </li>
                    <li>
                        <a href="https://lesonunique.com/mysun/podcast/15125/"
                           class="link" target="_blank">Du Bruit à l'Ouest S01#32 avec YVES FUTURISTIQUE 13/05/2024
                        </a>
                        - Podcast Radio SUN ({% t month.may %} 2024)
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
