<div id="music" class="container scroll-margin">
    <div class="row">
        <div class="col text-center pb-4">
            <h2 class="visually-hidden">AUDIO AND VIDEOS</h2>
            <img class="mf-section-title-img"
                 src="/assets/img/section-title-music-{{ site.lang }}.png" width="200" />
            <p>
                {% t _.short_band_description %}
            </p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-5 text-center">
            <div class="album-container">
                <img alt="Front cover of Maanen Faces' album Release a Brilliant Future"
                     class="img-fluid album-cover"
                     src="/assets/img/maanenfaces-release-a-brilliant-future-cover-1024.jpg">
                <div class="album-overlay">
                    <h3 class="album-title bebas-neue-regular">A Brilliant Future</h3>
                    <p class="album-year">March 29, 2025</p>
                    <div class="album-links text-uppercase">
                        <a href="https://maanenfaces.bandcamp.com/album/a-brilliant-future" class="btn btn-sm btn-outline-light" target="_blank">Buy CD & K7</a>
                        <a href="https://open.spotify.com/album/2fsi0pa8gIVzF8nzEVRbsm" class="btn btn-sm btn-outline-light" target="_blank">Spotify</a>
                        <a href="https://music.apple.com/us/album/a-brilliant-future/1812017235" class="btn btn-sm btn-outline-light" target="_blank">Apple Music</a>
                        <a href="https://www.youtube.com/watch?v=4bgefnqWa5Y" class="btn btn-sm btn-outline-light" target="_blank">YouTube</a>
                        <a href="https://music.amazon.fr/albums/B0F79CNFLV" class="d-none d-md-block btn btn-sm btn-outline-light" target="_blank">Amazon Music</a>
                        <a href="https://link.deezer.com/s/30mllTcqgxUTDpQciHyU9" class="btn btn-sm btn-outline-light" target="_blank">Deezer</a>
                        <a href="https://maanenfaces.bandcamp.com/album/a-brilliant-future" class="d-none d-md-block btn btn-sm btn-outline-light" target="_blank">Bandcamp</a>
                    </div>
                </div>
            </div>
            <div class="text-start bg-dark p-4 lh-lg" style="--bs-bg-opacity: 0.6;">
                <h3 class="font-ho-chi-minh-city">A BRILLIANT FUTURE</h3>
                {% tf music_abf.html %}
                <p>
                    <a href="https://maanenfaces.bandcamp.com/album/a-brilliant-future"
                       class="btn btn-sm btn-outline-light mt-2"
                       target="_blank">{% t _.listen_on_bandcamp %}</a>
                </p>
            </div>
        </div>
        <div class="col-lg-5 text-center">
            <div class="album-container">
                <img alt="Front cover of Maanen Faces' mini EP Damned And Doomed"
                     class="img-fluid album-cover"
                     src="/assets/img/maanenfaces-release-damned-and-doomed-cover-1024.png">
                <div class="album-overlay">
                    <h3 class="album-title bebas-neue-regular">Damned And Doomed</h3>
                    <p class="album-year">May 17, 2024</p>
                    <div class="album-links text-uppercase">
                        <a href="https://maanenfaces.bandcamp.com/album/damned-and-doomed" class="btn btn-sm btn-outline-light" target="_blank">Buy CD</a>
                        <a href="https://open.spotify.com/album/5cEEy6U1M0egQTOW1jJah6" class="btn btn-sm btn-outline-light" target="_blank">Spotify</a>
                        <a href="https://music.apple.com/us/album/damned-and-doomed-ep/1737223628" class="btn btn-sm btn-outline-light" target="_blank">Apple Music</a>
                        <a href="https://www.youtube.com/watch?v=Hmeufh3Gnw0" class="btn btn-sm btn-outline-light" target="_blank">YouTube</a>
                        <a href="https://music.amazon.fr/albums/B0CYQD1KKX" class="d-none d-md-block btn btn-sm btn-outline-light d-md-none" target="_blank">Amazon Music</a>
                        <a href="https://link.deezer.com/s/30mlmoCmViD15MDlFECIb" class="btn btn-sm btn-outline-light d-md-none" target="_blank">Deezer</a>
                        <a href="https://maanenfaces.bandcamp.com/album/damned-and-doomed" class="d-none d-md-block btn btn-sm btn-outline-light" target="_blank">Bandcamp</a>
                    </div>
                </div>
            </div>
            <div class="text-start bg-dark p-4 lh-lg" style="--bs-bg-opacity: 0.6;">
                <h3 class="font-ho-chi-minh-city">DAMNED AND DOOMED</h3>
                {% tf music_dad.html %}
                <p>
                    <a href="https://maanenfaces.bandcamp.com/album/damned-and-doomed"
                       class="btn btn-sm btn-outline-light mt-2"
                       target="_blank">{% t _.listen_on_bandcamp %}</a>
                </p>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="/assets/css/album-hover.css">
