<div id="videos" class="container scroll-margin pb-3">
    <div class="row">
        <div class="col text-center pb-4">
            <h2 class="visually-hidden">VIDEOS</h2>
            <img class="mf-section-title-img"
                 src="/assets/img/section-title-videos-{{ site.lang }}.png" width="200" />
        </div>
    </div>
    <!--
    <div class="row justify-content-center">

        {% for item in site.data.videos %}
        <div class="{{ item.css_class | default: 'col-lg-5' }}">
            <div class="border border-custom mb-4">
                <div class="auto-resize-yt-iframe">
                    <div>
                        <iframe src="https://www.youtube.com/embed/{{ item/yt_video_id }}?start={{ item.start_at_in_seconds | default: 0 }}"
                                title="{{ item.title }}" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
    -->
    <div class="row justify-content-center">

        {% for item in site.data.videos %}
        <div class="{{ item.css_class | default: 'col-lg-5' }}">
            <div class="border border-custom mb-4">
                <div class="auto-resize-yt-iframe">
                    <div class="youtube-lite"
                         {% if item.preview_img_url %}
                         data-preview-img-url="{{ item.preview_img_url }}"
                         {% else %}
                         data-preview-img-url="https://img.youtube.com/vi/{{ item.yt_video_id }}/maxresdefault.jpg"
                         {% endif %}
                         data-yt-video-id="{{ item.yt_video_id }}"
                         data-start-at-in-seconds="{{ item.start_at_in_seconds | default: 0 }}"
                         data-title="{{ item.title | default: '' }}">
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
    <div class="row">
        <div class="col text-center">
            <a class="btn btn-outline-light" href="https://www.youtube.com/@MaanenFaces" target="_blank" rel="noopener">
                {% t _.all_videos_on_youtube %}
            </a>
        </div>
    </div>
</div>

<link rel="stylesheet" href="/assets/css/videos-lazyload.css">

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const ytLite = document.querySelectorAll(".youtube-lite");

        ytLite.forEach(el => {
            const previewImgUrl = el.dataset.previewImgUrl;
            const startAt = el.dataset.startAtInSeconds;
            const title = el.dataset.title;
            const videoId = el.dataset.ytVideoId;
            el.innerHTML = `<img class="img-fluid object-fit-fill" src="${previewImgUrl}" alt="YouTube preview image"><div class="youtube-lite-title">${title}</div>`;

            el.addEventListener("click", function() {
                const iframe = document.createElement("iframe");
                iframe.setAttribute("src", `https://www.youtube.com/embed/${videoId}?autoplay=1&start=${startAt}`);
                iframe.setAttribute("frameborder", "0");
                iframe.setAttribute("allowfullscreen", "1");
                iframe.setAttribute("allow", "accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture");
                iframe.style.width = "100%";
                iframe.style.height = "100%";
                el.innerHTML = "";
                el.appendChild(iframe);
                el.classList.remove("youtube-lite");
            });
        });
    });
</script>
