<div class="container">
  <div class="row releases-content">
    <div class="col text-center">
      <div class="release-cover">
        <img alt="Promo Damned And Doomed EP"
             class="release-cover-placeholder"
             src="/assets/img/maanenfaces-releases-cover-damned-and-doomed.png"
             style="width: 90%">
        <img id="dad-listen-button"
             class="release-cover-play"
             src="/assets/img/icon-play.png">
      </div>
    </div>
    <div class="col-lg text-center">
      <div>
        <h1 class="visually-hidden">Maanen Faces</h1>
        <p style="margin-top: 5em;">
          <img alt="Logo Text Maanen Faces"
               src="/assets/img/maanenfaces-logo-nom.png"
               width="90%">
        </p>
        <div class="d-flex flex-wrap justify-content-center">
          <div class="p-1" style="
              background-color: #f92100;
              font-size: 2.1em;
              font-weight: bold;
              margin: 0.2em;
              text-transform: uppercase;
              ">{% t _.new_ep %}</div>
          <div class="p-1" style="
              background-color: #fff;
              color: #e00;
              font-size: 2.1em;
              margin: 0.2em;
              text-transform: uppercase;
              ">{% t _.damned_and_doomed_release_date %}</div>
        </div>
        <div class="p-2">
          #rock #psych #stoner #daemons
        </div>
        <div class="p-2">
          «&nbsp;{% t _.damned_and_doomed_promo_sentence %}&nbsp;»&nbsp;-&nbsp;Jul.
        </div>
        <div class="p-2">
          {% t _.available_on_all_streaming_platforms %}
        </div>
        <ul class="mf-streaming">
          <li>
            <a href="https://maanenfaces.bandcamp.com/">
              <img alt="Bandcamp" class="sn-icon" fetchpriority="high"
                   src="/assets/img/icon-bandcamp.png">
            </a>
          </li>
          <li>
            <a href="https://open.spotify.com/intl-fr/artist/11ke0XMBCgAzA9XzgW9VaY">
              <img alt="Spotify" class="sn-icon" fetchpriority="high"
                   src="/assets/img/icon-spotify.png">
            </a>
          </li>
          <li>
            <a href="https://www.deezer.com/artist/259060302">
              <img alt="Deezer" class="sn-icon" fetchpriority="high"
                   src="/assets/img/icon-deezer.png">
            </a>
          </li>
          <li>
            <a href="https://music.apple.com/artist/maanen-faces/1736745855">
              <img alt="Apple Music" class="sn-icon" fetchpriority="high"
                   src="/assets/img/icon-applemusic.png">
            </a>
          </li>
          <li>
            <a href="https://music.amazon.com/artists/B0CYQ9PH57/maanen-faces">
              <img alt="Amazon Music" class="sn-icon" fetchpriority="high"
                   src="/assets/img/icon-amazonmusic.png">
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- Force next columns to break to new line -->
    <div class="w-100"></div>
    <div class="col-lg text-center" style="margin-top: 2em;">
      {% include dad_purchase_link.html %}
      {% include follow_buttons.html %}
    </div>
  </div>
</div>