<nav id="navbar-mf"
     class="navbar navbar-expand-xl navbar-dark bg-dark sticky-top">
  <div class="container">
    {% if site.lang == site.languages[0] %}
    <a class="navbar-brand" href="/">
    {% else %}
    <a class="navbar-brand" href="/{{ site.lang }}/">
    {% endif %}
      <img src="/assets/img/maanenfaces-logo-visages.png"
           alt="Maanen Faces Logo"
        width="55">
    </a>
    <div class="navbar-toggler navbar-mf-title font-ho-chi-minh-city">
      Maanen Faces
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse font-ho-chi-minh-city" id="navbarNav">
      <ul class="navbar-nav">

        {% for item in site.data.navbar %}
        {% if item.title_key == 'divider' %}
        <li class="nav-item d-flex align-items-center">
        <div class="mf-btn-lang-container-divider">
          <div class="vr" style="min-height: 1.4em; opacity: 0.75; vertical-align: text-bottom; margin: 0 0.5em;"></div>
        </div>
        </li>
        {% else %}
        <li class="nav-item">
          <a  {% if item.highlight && page.title == item.page_key %}
              class="nav-link btn-mf btn-mf-active"
              {% else %}
              class="nav-link btn-mf"
              {% endif %}
              {% if site.lang == site.languages[0] %}
                href="{{ item.url }}"
              {% else %}
                href="/{{ site.lang }}{{ item.url }}"
              {% endif %}
              {% if item.external %}
                target="_blank"
              {% endif %}
            >{% t item.title_key %}</a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>

      <span class="navbar-text btn-mf d-none d-lg-inline">
        <span class="mf-booking-email p-1">
          Booking: maanenfaces<span style="display: none;">ANTISPAM</span>@tuta.io
        </span>
      </span>

      <ul class="navbar-nav navbar-nav-links">

        <li>
          <a href="https://instagram.com/maanenfaces/">
            <img alt="Instagram" class="sn-icon" fetchpriority="high"
                 src="/assets/img/icon-instagram.png">
          </a>
        </li>

        <li>
          <a href="https://www.facebook.com/MaanenFaces/">
            <img alt="Facebook" class="sn-icon" fetchpriority="high"
                 src="/assets/img/icon-facebook.png">
          </a>
        </li>

        <li>
          <a href="https://www.youtube.com/@MaanenFaces">
            <img alt="Youtube" class="sn-icon" fetchpriority="high"
                 src="/assets/img/icon-youtube.png">
          </a>
        </li>

        <li>
          <a href="linktr.ee/maanenfaces">
            <img alt="Linktree" class="sn-icon" fetchpriority="high"
                 src="/assets/img/icon-linktree.png">
          </a>
        </li>

        <li class="mf-btn-lang-container-divider">
          <div class="vr" style="min-height: 1.4em; opacity: 0.75; vertical-align: text-top"></div>
        </li>

        <li class="nav-item dropdown w-100 mf-btn-lang-list">
          <a class="nav-link btn-mf dropdown-toggle py-0" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{site.lang}}
          </a>
          <ul class="dropdown-menu bg-dark w-100 mf-btn-lang-list">
            {% for lang in site.languages %}
              <li class="mf-btn-lang-container w-100">
                {% if lang == site.languages[0] %}
                  <a class="mf-btn-lang rounded" href="{{ page.url }}">
                    <img alt="Switch to {{ lang }}" class="sn-icon rounded-circle me-1"
                         fetchpriority="high" style="display: inline-block; vertical-align: middle;"
                         src="/assets/img/icon-flag-{{ lang }}.png">
                    <span style="display: inline-block; vertical-align: middle; white-space: nowrap;">{{lang}}</span>
                  </a>
                {% else %}
                  <a class="mf-btn-lang" href="/{{ lang }}{{ page.url }}">
                    <img alt="Switch to {{ lang }}" class="sn-icon rounded-circle me-1"
                         fetchpriority="high" style="display: inline-block; vertical-align: middle;"
                         src="/assets/img/icon-flag-{{ lang }}.png">
                    <span style="display: inline-block; vertical-align: middle; white-space: nowrap;">{{lang}}</span>
                  </a>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </li>

      </ul>

    </div>
  </div>
</nav>
