<div id="footer" class="container-fluid blacked-bg">
  <div class="row justify-content-center">
    <div class="col text-center">
      <!--{% include follow_buttons.html %}-->

      <div>
        <p class="mb-0">
          <a class="link" href="https://maanenfaces.bandcamp.com/">Bandcamp</a>
          <a class="link" href="https://open.spotify.com/intl-fr/artist/11ke0XMBCgAzA9XzgW9VaY">Spotify</a>
          <a class="link" href="https://www.deezer.com/artist/259060302">Deezer</a>
          <a class="link" href="https://music.apple.com/artist/maanen-faces/1736745855">Apple Music</a>
          <a class="link" href="https://music.amazon.com/artists/B0CYQ9PH57/maanen-faces">Amazon Music</a>
        </p>
        <p>
          <a class="link" href="https://linktr.ee/maanenfaces">Linktree</a>
          <a class="link" href="https://bsky.app/profile/maanenfaces.bsky.social">Bluesky</a>
          <a class="link" href="https://www.discogs.com/artist/15180416-Maanen-Faces">Discogs</a>
          <a class="link" href="https://facebook.com/MaanenFaces">Facebook</a>
          <a class="link" href="https://instagram.com/maanenfaces/">Instagram</a>
          <a class="link" href="https://www.youtube.com/@MaanenFaces">YouTube</a>
          <a class="link" href="https://eviltown.fr">Evil Town</a>
        </p>
        <p>
          Email and Booking:
          <span class="mf-hidden-email">maanenfaces<span
                style="display: none;">ANTISPAM</span>@tuta.io</span>
        </p>
      </div>
      <div>
        {% t _.website %}:
        <a class="link link-light"
           href="https://www.instagram.com/thom.c44"
           title="Contact Thom on Instagram">
         thom.c44
        </a>
      </div>
      <div>
        © 2025 Maanen Faces
      </div>
    </div>
  </div>
</div>

<div class="container-fluid position-sticky bottom-0 d-lg-none">
  <div class="row justify-content-center">
    <div class="col bg-black text-center p-2">
      <span class="mf-booking-email p-1 font-ho-chi-minh-city fs-4">
          Booking: maanenfaces<span style="display: none;">ANTISPAM</span>@tuta.io
      </span>
    </div>
  </div>
</div>
