<div id="footer" class="container-fluid blacked-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 text-center">
        <div class="pt-4">
          <p class="mb-0">
            <a class="link" href="https://music.apple.com/artist/maanen-faces/1736745855" target="_blank">Apple Music</a>
            <a class="link" href="https://music.amazon.com/artists/B0CYQ9PH57/maanen-faces" target="_blank">Amazon Music</a>
            <a class="link" href="https://maanenfaces.bandcamp.com/" target="_blank">Bandcamp</a>
            <a class="link" href="https://www.deezer.com/artist/259060302" target="_blank">Deezer</a>
          </p>
          <p>
            <a class="link" href="https://linktr.ee/maanenfaces" target="_blank">Linktree</a>
            <a class="link" href="https://bsky.app/profile/maanenfaces.bsky.social" target="_blank">Bluesky</a>
            <a class="link" href="https://www.discogs.com/artist/15180416-Maanen-Faces" target="_blank">Discogs</a>
            <a class="link" href="https://facebook.com/MaanenFaces" target="_blank">Facebook</a>
            <a class="link" href="https://instagram.com/maanenfaces/" target="_blank">Instagram</a>
            <a class="link" href="https://www.youtube.com/@MaanenFaces?sub_confirmation=1" target="_blank">YouTube</a>
          </p>
          <p>
            {% if site.lang == site.languages[0] %}
            <a class="link" href="/epk/" target="_blank">{% t _.download_epk %}</a>
            {% else %}
            <a class="link" href="/{{ site.lang }}/epk/" target="_blank">{% t _.download_epk %}</a>
            {% endif %}
             (Electronic Press Kit)
          </p>
          <p>
            Email and Booking:
            <span class="mf-hidden-email p-1">maanenfaces<span
                  style="display: none;">ANTISPAM</span>@tuta.io</span>
          </p>
          <p>
            <a class="link" href="https://eviltown.fr" target="_blank">eviltown.fr</a>
            <a class="link" href="https://destroythisworld.com" target="_blank">destroythisworld.com</a>
          </p>
          <p>
            © 2026 Maanen Faces -
            {% t _.website %}:
            <a class="link link-light"
               href="https://www.instagram.com/thom.c44"
               title="Contact Thom on Instagram">
             thom.c44
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid position-sticky bottom-0 d-lg-none">
  <div class="row justify-content-center">
    <div class="col bg-black text-center p-2">
      <span class="mf-booking-email p-1 font-ho-chi-minh-city fs-4">
          Booking: maanenfaces<span style="display: none;">ANTISPAM</span>@tuta.io
      </span>
    </div>
  </div>
</div>
