<div class="container">
    <div class="row justify-content-md-center m-5 mb-4">
        <div class="col-lg-10 text-center mt-3 visually-hidden">
            <h1>Maanen Faces</h1>
        </div>
        <!-- Force next columns to break to new line -->
        <div class="w-100"></div>
        <div class="col-lg-11">
            <div class="text-center bg-black p-2" style="--bs-bg-opacity: .7;">
                <ul class="mf-streaming mb-0 p-2">
                    <li>
                        {% t _.available_on_all_streaming_platforms %} :
                    </li>
                    <li>
                        <a href="https://maanenfaces.bandcamp.com/" target="_blank" rel="noopener">
                            <img alt="Bandcamp" class="sn-icon" fetchpriority="high"
                               src="/assets/img/icon-bandcamp.png">
                        </a>
                    </li>
                    <li>
                        <a href="https://open.spotify.com/intl-fr/artist/11ke0XMBCgAzA9XzgW9VaY" target="_blank" rel="noopener">
                            <img alt="Spotify" class="sn-icon" fetchpriority="high"
                               src="/assets/img/icon-spotify.png">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.deezer.com/artist/259060302" target="_blank" rel="noopener">
                            <img alt="Deezer" class="sn-icon" fetchpriority="high"
                               src="/assets/img/icon-deezer.png">
                        </a>
                    </li>
                    <li>
                        <a href="https://music.apple.com/artist/maanen-faces/1736745855" target="_blank" rel="noopener">
                            <img alt="Apple Music" class="sn-icon" fetchpriority="high"
                               src="/assets/img/icon-applemusic.png">
                        </a>
                    </li>
                    <li>
                        <a href="https://music.amazon.com/artists/B0CYQ9PH57/maanen-faces" target="_blank" rel="noopener">
                            <img alt="Amazon Music" class="sn-icon" fetchpriority="high"
                               src="/assets/img/icon-amazonmusic.png">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Force next columns to break to new line -->
        <div class="w-100"></div>
        <div class="col-lg-11">
            <div class="text-center bg-black" style="--bs-bg-opacity: .7;">
                <a href="https://fb.me/e/5Qynwvi6P" target="_blank" rel="noopener">
                    <img class="img-fluid"
                         src="/assets/img/affiche_floride_FB_oct2025.jpg" alt="Affiche Concert Maanen Faces Octobre 2025 Le Floride Nantes" />
                </a>
                <p class="p-3 pb-4">
                    <a href="https://fb.me/e/5Qynwvi6P" class="btn btn-outline-light" target="_blank" rel="noopener">
                        Toutes les infos du concert sur Facebook
                    </a>
                </p>
            </div>
            <!--
            <div class="auto-resize-yt-iframe">
              <div>
                <iframe src="https://www.youtube.com/embed/ZSJXdmLLRPk"
                        title="Robots, by Maanen Faces" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
              </div>
            </div>
            -->
        </div>
    </div>
</div>
