  <div class="container">
    <div class="row releases-content justify-content-md-center" style="margin-bottom: 4.5em; padding-top: 3em;">
      <div class="col-lg text-center">
        <h1 class="visually-hidden">Maanen Faces</h1>
        <!--
        <p>
          <img alt="Logo Text Maanen Faces"
               class="img-fluid"
               src="/assets/img/maanenfaces-logo-nom.png"
               style="width: 500px">
        </p>
        <div class="d-flex flex-wrap justify-content-center">
          <div class="p-1" style="
              background-color: #f92100;
              font-size: 1.5em;
              font-weight: bold;
              margin: 0.2em;
              text-transform: uppercase;
              ">#Psych #Stoner</div>
          <div class="p-1" style="
              background-color: #fff;
              color: #e00;
              font-size: 1.5em;
              font-weight: bold;
              margin: 0.2em;
              text-transform: uppercase;
              ">#Rock</div>
        </div>
        -->
      </div>
      <!-- Force next columns to break to new line -->
      <div class="w-100"></div>
      <div class="col-lg text-center" style="margin-top: 2em;">
        <div class="auto-resize-yt-iframe">
          <div>
            <iframe src="https://www.youtube.com/embed/ZSJXdmLLRPk"
                    title="Robots, by Maanen Faces" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          </div>
        </div>
      </div>
      <!-- Force next columns to break to new line -->
      <div class="w-100"></div>
      <div class="col-lg text-center" style="margin-top: 2em;">
        {% include default_purchase_link.html %}
      </div>
      <!-- Force next columns to break to new line -->
      <div class="w-100"></div>
      <div class="col-lg text-center">
        <div class="d-flex flex-wrap justify-content-center p-3">
          <div class="p-2">
            {% t _.available_on_all_streaming_platforms %} :
          </div>
          <div>
            <ul class="mf-streaming p-2" style="width: fit-content;">
              <li>
                <a href="https://maanenfaces.bandcamp.com/">
                  <img alt="Bandcamp" class="sn-icon" fetchpriority="high"
                       src="/assets/img/icon-bandcamp.png">
                </a>
              </li>
              <li>
                <a href="https://open.spotify.com/intl-fr/artist/11ke0XMBCgAzA9XzgW9VaY">
                  <img alt="Spotify" class="sn-icon" fetchpriority="high"
                       src="/assets/img/icon-spotify.png">
                </a>
              </li>
              <li>
                <a href="https://www.deezer.com/artist/259060302">
                  <img alt="Deezer" class="sn-icon" fetchpriority="high"
                       src="/assets/img/icon-deezer.png">
                </a>
              </li>
              <li>
                <a href="https://music.apple.com/artist/maanen-faces/1736745855">
                  <img alt="Apple Music" class="sn-icon" fetchpriority="high"
                       src="/assets/img/icon-applemusic.png">
                </a>
              </li>
              <li>
                <a href="https://music.amazon.com/artists/B0CYQ9PH57/maanen-faces">
                  <img alt="Amazon Music" class="sn-icon" fetchpriority="high"
                       src="/assets/img/icon-amazonmusic.png">
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!--
      <div class="col-xl-4 text-center p-2">
        <div>
          <a href="https://maanenfaces.bandcamp.com/album/damned-and-doomed"
             title="Digipack CD - Maanen Faces - Damned And Doomed EP">
            <img alt="Digipack CD - Maanen Faces - Damned And Doomed EP"
                 class="img-fluid mf-img-highlight border border-secondary-subtle rounded-2"
                 src="/assets/img/maanenfaces-release-damned-and-doomed-cover-1024.png"
                 style="margin-top: 2em; max-width: 300px;">
          </a>
        </div>
        <div>
          <div class="p-3">Damned And Doomed (EP, 2024)</div>
        </div>
      </div>
      <div class="col-xl-4 text-center p-2">
        <div>
          <a href="https://maanenfaces.bandcamp.com/album/a-brilliant-future"
             title="Digipack CD - Maanen Faces - A Brilliant Future EP">
            <img alt="Digipack CD - Maanen Faces - A Brilliant Future EP"
                 class="img-fluid mf-img-highlight border border-secondary-subtle rounded-2"
                 src="/assets/img/maanenfaces-release-a-brilliant-future-cover-1024.png"
                 style="max-width: 400px;">
          </a>
        </div>
        <div>
          <div class="p-3">A Brilliant Future (EP, 2025)</div>
        </div>
      </div>
      <div class="col-xl-4 text-center p-2">
        <div>
          <a href="https://maanenfaces.bandcamp.com/merch/moon-duality-men-black-100-organic-cotton"
             title="T-Shirt Maanen Faces Moon Duality">
            <img alt="T-Shirt - Maanen Faces - Moon Duality (Logo)"
                 class="img-fluid mf-img-highlight border border-secondary-subtle rounded-2"
                 src="/assets/img/maanenfaces-merch-tshirt-logo.png"
                 style="background-color: rgba(255, 255, 255, 0.8); margin-top: 2em; max-width: 300px;">
          </a>
        </div>
        <div>
          <div class="p-3">T-Shirt Maanen Faces Moon Duality</div>
        </div>
      </div>
      -->
    </div>
  </div>