<div style="margin-bottom: 1em">
  <a class="btn btn-sm btn-bandcamp"
     href="https://maanenfaces.bandcamp.com/follow_me/"
     target="_blank">
    <img alt="Bandcamp" class="sn-icon" fetchpriority="high"
         src="/assets/img/icon-bandcamp.png">
    <strong>Follow</strong> on Bandcamp
  </a>
  <a class="btn btn-sm btn-instagram"
     href="https://instagram.com/maanenfaces/"
     target="_blank">
    <img alt="Instagram" class="sn-icon" fetchpriority="high"
         src="/assets/img/icon-instagram.png">
    <strong>Follow</strong> on Instagram
  </a>
</div>
