<div class="container">
    <div class="row justify-content-center mt-5 mb-5">
        <div class="col-lg-10 text-center mt-5">
            <h1 class="visually-hidden">{% t page.index.h1 %}</h1>
            <img class="img-fluid mb-5 mt-5"
                 alt="Maanen Faces Logo"
                 src="/assets/img/maanenfaces-logo-bandNameOnlyWithBorderV2.png"
                 style="background-color: rgba(0, 0, 0, 0.7); width: 70%;" />
        </div>
        <!-- Force next columns to break to new line -->
        <div class="w-100"></div>
        <div class="col-auto justify-content-md-center mb-5">
            <button type="button" class="btn btn-lg btn-outline-light btn-streaming-main" data-bs-toggle="modal" data-bs-target="#streamingModal">
                {% t _.available_on_all_streaming_platforms %}
            </button>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="streamingModal" tabindex="-1" aria-labelledby="streamingModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content text-white" style="background-color: rgba(0, 0, 0, 0.8);">
            <div class="modal-header border-0">
                <h5 class="modal-title" id="streamingModalLabel">{% t _.available_on_all_streaming_platforms %}</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex align-items-center justify-content-center">
                <div class="row g-4" onclick="event.stopPropagation();">
                    <div class="col-12 col-md-6">
                        <a href="https://music.apple.com/artist/maanen-faces/1736745855" target="_blank" rel="noopener" class="btn btn-lg btn-outline-light btn-streaming w-100 d-flex align-items-center justify-content-start p-3">
                            <img alt="Apple Music" class="me-3" src="/assets/img/icon-applemusic.png" style="width: 48px; height: 48px;">
                            <span class="fs-5">Apple Music</span>
                        </a>
                    </div>
                    <div class="col-12 col-md-6">
                        <a href="https://music.amazon.com/artists/B0CYQ9PH57/maanen-faces" target="_blank" rel="noopener" class="btn btn-lg btn-outline-light btn-streaming w-100 d-flex align-items-center justify-content-start p-3">
                            <img alt="Amazon Music" class="me-3" src="/assets/img/icon-amazonmusic.png" style="width: 48px; height: 48px;">
                            <span class="fs-5">Amazon Music</span>
                        </a>
                    </div>
                    <div class="col-12 col-md-6">
                        <a href="https://maanenfaces.bandcamp.com/" target="_blank" rel="noopener" class="btn btn-lg btn-outline-light btn-streaming w-100 d-flex align-items-center justify-content-start p-3">
                            <img alt="Bandcamp" class="me-3" src="/assets/img/icon-bandcamp.png" style="width: 48px; height: 48px;">
                            <span class="fs-5">Bandcamp</span>
                        </a>
                    </div>
                    <div class="col-12 col-md-6">
                        <a href="https://www.deezer.com/artist/259060302" target="_blank" rel="noopener" class="btn btn-lg btn-outline-light btn-streaming w-100 d-flex align-items-center justify-content-start p-3">
                            <img alt="Deezer" class="me-3" src="/assets/img/icon-deezer.png" style="width: 48px; height: 48px;">
                            <span class="fs-5">Deezer</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const modalBody = document.querySelector('#streamingModal .modal-body');
        modalBody.addEventListener('click', function() {
            bootstrap.Modal.getInstance(document.getElementById('streamingModal')).hide();
        });
    });
</script>