<div class="container">
    <div class="row justify-content-md-center mt-5 mb-5">
        <div class="col-lg-10 text-center mt-3 visually-hidden">
            <h1>{% t page.index.h1 %}</h1>
        </div>
        <!-- Force next columns to break to new line -->
        <div class="w-100"></div>
        <div class="col-lg-10">
            <div class="text-center bg-black mb-5" style="--bs-bg-opacity: .7;">
                <p class="m-3 pt-3">
                    {% t _.next_event %}
                    (<a href="/concert-rock-nantes-12-juin/" class="link link-light" target="_blank" rel="noopener">{% t _.next_event_info_link %}</a>) :
                </p>
                <a href="/concert-rock-nantes-12-juin/" target="_blank" rel="noopener">
                    <img class="img-fluid"
                         src="/assets/img/affiche_concert_nantes_120626.jpg" alt="Affiche Oda + The Pyke Circuit + Maanen Faces | Concert Nantes Le Floride - 12 Juin 2026" />
                </a>
            </div>
            <!--
            <div class="auto-resize-yt-iframe">
              <div>
                <iframe src="https://www.youtube.com/embed/ZSJXdmLLRPk"
                        title="Robots, by Maanen Faces" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
              </div>
            </div>
            -->
        </div>
        <!-- Force next columns to break to new line -->
        <div class="w-100"></div>
        <div class="col-auto justify-content-md-center">
            <button type="button" class="btn btn-lg btn-outline-light btn-streaming-main font-ho-chi-minh-city" data-bs-toggle="modal" data-bs-target="#streamingModal">
                &rarr; {% t _.available_on_all_streaming_platforms %} &larr;
            </button>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="streamingModal" tabindex="-1" aria-labelledby="streamingModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content text-white" style="background-color: rgba(0, 0, 0, 0.8);">
            <div class="modal-header border-0">
                <h5 class="modal-title" id="streamingModalLabel">{% t _.available_on_all_streaming_platforms %}</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex align-items-center justify-content-center">
                <div class="row g-4" onclick="event.stopPropagation();">
                    <div class="col-12 col-md-6">
                        <a href="https://music.apple.com/artist/maanen-faces/1736745855" target="_blank" rel="noopener" class="btn btn-lg btn-outline-light btn-streaming w-100 d-flex align-items-center justify-content-start p-3">
                            <img alt="Apple Music" class="me-3" src="/assets/img/icon-applemusic.png" style="width: 48px; height: 48px;">
                            <span class="fs-5">Apple Music</span>
                        </a>
                    </div>
                    <div class="col-12 col-md-6">
                        <a href="https://music.amazon.com/artists/B0CYQ9PH57/maanen-faces" target="_blank" rel="noopener" class="btn btn-lg btn-outline-light btn-streaming w-100 d-flex align-items-center justify-content-start p-3">
                            <img alt="Amazon Music" class="me-3" src="/assets/img/icon-amazonmusic.png" style="width: 48px; height: 48px;">
                            <span class="fs-5">Amazon Music</span>
                        </a>
                    </div>
                    <div class="col-12 col-md-6">
                        <a href="https://maanenfaces.bandcamp.com/" target="_blank" rel="noopener" class="btn btn-lg btn-outline-light btn-streaming w-100 d-flex align-items-center justify-content-start p-3">
                            <img alt="Bandcamp" class="me-3" src="/assets/img/icon-bandcamp.png" style="width: 48px; height: 48px;">
                            <span class="fs-5">Bandcamp</span>
                        </a>
                    </div>
                    <div class="col-12 col-md-6">
                        <a href="https://www.deezer.com/artist/259060302" target="_blank" rel="noopener" class="btn btn-lg btn-outline-light btn-streaming w-100 d-flex align-items-center justify-content-start p-3">
                            <img alt="Deezer" class="me-3" src="/assets/img/icon-deezer.png" style="width: 48px; height: 48px;">
                            <span class="fs-5">Deezer</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const modalBody = document.querySelector('#streamingModal .modal-body');
        modalBody.addEventListener('click', function() {
            bootstrap.Modal.getInstance(document.getElementById('streamingModal')).hide();
        });
    });
</script>
