/**
 * Custom fonts
 */

@font-face {
    font-family: 'Ho-Chi-Minh-City';
    src:url('/assets/fonts/Ho-Chi-Minh-City/Ho-Chi-Minh-City.ttf.woff') format('woff'),
        url('/assets/fonts/Ho-Chi-Minh-City/Ho-Chi-Minh-City.ttf.svg#Ho-Chi-Minh-City') format('svg'),
        url('/assets/fonts/Ho-Chi-Minh-City/Ho-Chi-Minh-City.ttf.eot'),
        url('/assets/fonts/Ho-Chi-Minh-City/Ho-Chi-Minh-City.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

.font-ho-chi-minh-city {
  font-family: 'Ho-Chi-Minh-City';
  letter-spacing: 1px;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 200;
  font-size: 1.1em;
  font-style: normal;
}

/**
 * Overwritten general attributes
 */

body {
  background-color: #000;
  color: #ffd;
}

body > .container:last-of-type,
body > .container-fluid > .container:last-of-type {
  padding-bottom: 0;
}

a, a:hover {
  color: #fff;
  text-decoration: underline;
}

h2 {
  margin-bottom: 1em;
}

#bio #band-photo img {
  min-width: 350px;
}

#footer {
  background-color: transparent !important;
  font-size: 0.9em;
  padding-bottom: 5em;
  padding-top: 3em;
}

#footer .footer-image img {
  margin-bottom: -100px;
  opacity: 0.8;
  position: relative;
  top: -100px;
}

#main {
  z-index: 101;
}

/**
 * Navbar adjustements
 */

#navbar-mf,
#navbar-mf.bg-dark {
  background-color: rgba(0, 0, 0, 0.7) !important;
  padding: 0;
}

#navbar-mf .navbar-mf-title {
  border: 0;
  color: #fff;
  margin: 0;
  margin-right: 10px;
  text-transform: uppercase;
}

#navbar-mf .navbar-mf-title.font-ho-chi-minh-city {
  font-size: 2em;
}

#navbar-mf .btn-mf {
  border: 0;
  border-radius: 0;
  color: #fff;
  font-size: 1.1em;
  padding: 0.7em;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: top;
}

#navbar-mf .font-ho-chi-minh-city .btn-mf {
  font-size: 1.4em;
  padding: 0.5em;
}

#navbar-mf .btn-mf:hover,
#navbar-mf .btn-mf-active {
  color: #f92100;
  text-decoration: none;
}

#navbar-mf .navbar-nav-links {
  margin-left: auto;
  margin-right: 0;
}

#navbar-mf .navbar-nav-links li {
  display: inline;
  margin-left: 0.9em;
}

#navbar-mf .navbar-nav-links a {
  text-decoration: none;
}

#navbar-mf .collapsing li a,
#navbar-mf .show li a {
  padding: 0.2em 1em 0.2em 1em !important;
}

#navbar-mf .collapsing .navbar-nav-links,
#navbar-mf .show .navbar-nav-links {
  display: block;
  margin-left: -5px;
  margin-top: 10px;
}

#navbar-mf .collapsing .navbar-nav-links li,
#navbar-mf .show .navbar-nav-links li {
  float: left;
  width: 30px;
}

#navbar-mf .collapsing .navbar-nav-links .sn-icon,
#navbar-mf .show .navbar-nav-links .sn-icon {
  display: inline;
}

#navbar-mf .dropdown-menu.bg-dark {
  background-color: rgba(0, 0, 0, 0.7) !important;
}

#navbar-mf .font-ho-chi-minh-city .dropdown-menu a {
  font-size: 1.4em;
}

#navbar-mf .dropdown-menu.bg-dark a {
  color: #fff;
  text-transform: uppercase;
}
#navbar-mf .dropdown-menu.bg-dark a:hover {
  background-color: inherit;
  color: #f92100;
  text-decoration: none;
}

#navbar-mf .collapsing .mf-btn-lang-container-divider,
#navbar-mf .show .mf-btn-lang-container-divider {
  display: none !important;
}
#navbar-mf .collapsing li.mf-btn-lang-list,
#navbar-mf .show li.mf-btn-lang-list {
  margin-left: 0.5em;
  margin-top: 0.6em;
}

.mf-btn-lang-container {
  padding: 0;
  padding-right: 1em;
}
a.mf-btn-lang {
  text-decoration: none;
  text-transform: uppercase;
}
a.mf-btn-lang .sn-icon {
  height: 25px;
  width: 25px;
  margin-right: 0.4em;
}
a.nav-link.btn-mf.dropdown-toggle.py-0 {
    padding-left: 0 !important;
}

#navbar-mf .collapsing .navbar-text,
#navbar-mf .show .navbar-text {
  margin-left: 0.5em;
  margin-top: 1.5em;
}

#navbar-mf .navbar-text.btn-mf:hover {
  color: unset !important;
}

/**
 * Boostrap custom CSS adjustements
 */

.border.border-custom {
  border-width: 0.5em !important;
  border-color: #f92100 !important;
}

.btn:hover {
  border: 1px solid #fff;
  text-decoration: none;
}

/**
 * Utilies
 */

.mf-bg-dark {
  background-color: rgba(0, 0, 0, 0.4);
}

.mf-booking-email,
.mf-booking-email:hover {
  background-color: #f92100 !important;
}

.mf-hidden-email {
  color: #fff;
  padding-left: 0.2em;
  padding-right: 0.2em;
  line-height: 1.4em;
  text-decoration: underline;
  width: auto;
}

.mf-hidden-email:hover {
  background-color: #f92100;
  color: #fff;
  text-decoration: none;
}

.mf-hh {
  background: #fff;
  color: #222;
  margin-right: 2px;
  padding-left: 1px;
  padding-right: 2px;
}

.mf-hw {
  font-family: 'Caveat', serif;
  font-size: 1.2em;
}

.mf-img-highlight:hover {
  filter: blur(0.5px) brightness(130%);
}

.mf-section-title-img {
  margin-bottom: 1em;
  margin-top: 2em;
}

.mf-streaming {
  list-style: none;
  padding-left: 0;
}

.mf-streaming a {
  text-decoration: none;
}

.mf-streaming li {
  display: inline;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.scroll-margin {
  scroll-margin-top: 3rem;
}

.sn-icon {
  height: 30px;
  object-fit: cover;
  width: 30px;
}
.btn-sm .sn-icon {
  height: 22px;
  width: 22px;
}

.btn-bandcamp {
  background-color: #00A1C6;
  color: #fff;
  margin-bottom: 0.5em;
}
.btn-bandcamp:hover {
  background-color: #0081A6;
}

.btn-instagram {
  background-color: #e1306c;
  color: #fff;
  margin-bottom: 0.5em;
}
.btn-instagram:hover {
  background-color: #c13584;
}

.btn-facebook {
  background-color: #4267b2;
  color: #fff;
  margin-bottom: 0.2em;
}
.btn-facebook:hover {
  background-color: #224792;
}

/**
 * Some kind of effect when passing the cursor over a div
 * containning an image
 */
.mf-overlay-container {
  position: relative;
  display: inline-block;
}

.mf-overlay-container:hover .img-fluid {
  /*filter: blur(3px);*/
  transform: scale(0.95);
  transition: all 0.3s ease;
}

.mf-overlay-container .mf-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.mf-overlay-container:hover .mf-overlay {
  opacity: 1;
}

/**
 * This allows to resize YouTube iframe by keeping width/height ratio.
 * From https://stackoverflow.com/a/17465040
 */

.auto-resize-yt-iframe {
  margin: 0px auto;
  max-width: 1275px;
}

.auto-resize-yt-iframe > div {
  position: relative;
  padding-bottom: 55%;
  height: 0px;
}

.auto-resize-yt-iframe > div > iframe {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

/**
 * Background objects
 */

.bg-obj {
  background-color: #000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* Preserve aspect ratio */
  min-width: 100%;
  min-height: 100%;
  z-index: -999;
}

.bg-obj-image {
  opacity: 0.7;
  z-index: -991;
}
.bg-obj-text {
  background-color: transparent !important;
  opacity: 0.5;
  min-height: auto;
  top: 0;
  left: 0;
  transform: none;
  z-index: 0;
}
.bg-obj-video {
  filter: grayscale(1);
  opacity: 0.7;
  z-index: -992;
}

.bg-obj-image.abf {
  opacity: 0.5;
}
.bg-obj-video.abf {
  opacity: 0.2;
}

.bg-obj-image.band {
  opacity: 0.9;
}
.bg-obj-video.band {
  opacity: 1;
}

.bg-obj-image.default {
  opacity: 0.7;
  z-index: -992;
}
.bg-obj-video.default {
  opacity: 0.4;
  z-index: -991;
}

.bg-obj-image.fire {
  opacity: 0.9;
}
.bg-obj-video.fire {
  filter: grayscale(0.8);
  opacity: 0.1;
}
