.youtube-lite {
  overflow: hidden;
}

.youtube-lite > .img-fluid {
  cursor: pointer;
}

.youtube-lite::after {
  background-color: #f92100;
  content: "▶";
  position: absolute;
  font-size: 2rem;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  border: 1px solid rgba(255, 0, 0, 1);
  border-radius: 0.6rem;
  padding: 0rem 1rem;
}

.youtube-lite:hover::after {
  box-shadow: 0 0 15px #fff;
}

.youtube-lite.loaded::after {
  display: none;
}

.youtube-lite > .youtube-lite-title,
.youtube-lite > .youtube-lite-loadtext {
  position: absolute;
  top: 0em;
  left: 0em;
  color: #fff;
  font-size: 1.1rem;
  background: linear-gradient(to bottom, rgba(0,0,0,0.8), transparent);
  padding: 0.8em;
  width: 100%;
  white-space: nowrap;    /* empêche le retour à la ligne */
  overflow: hidden;       /* cache le texte qui dépasse */
  text-overflow: ellipsis;/* ajoute "..." à la fin si ça dépasse */
}

.youtube-lite.video-locked > .img-fluid {
    pointer-events: none;
    pointer: cursor;
}

.youtube-lite.video-locked::after {
  display: none;
}

/**
.youtube-lite-countdown {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 0, 0, 0.75);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.5rem;
    pointer-events: none;
    z-index: 10;
}
**/

.youtube-lite-countdown {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 0, 0, 0.8);
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 3px;

    /* Style Horloge Numérique */
    font-family: 'Courier New', Courier, monospace; /* Police à largeur fixe */
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: -1px;

    /* Optionnel : Effet "Néon/LED" */
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 0, 0, 0.2);

    pointer-events: none;
    z-index: 10;
}