<!doctype html>

<html lang="fr" class="h-100">
  <head>
    <title>Maanen Faces - {{ page.title }}</title>

    <meta charset="utf-8">
    <meta name="author" content="Maanen Faces">
    <meta name="description" content="{{ page.title }}">
    <meta name="docsearch:language" content="fr">
    <meta name="docsearch:version" content="5.0">
    <meta name="theme-color" content="#000">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if page.redirect_url_lang %}
    <meta http-equiv="refresh" content="0; URL={{ page.redirect_url_lang[site.lang] }}">
    {% else %}
    <meta http-equiv="refresh" content="0; URL={{ page.redirect_url }}">
    {% endif %}

    <style>
      body {
        background: #000;
        color: #fff;
        font-family: sans-serif;
        font-optical-sizing: auto;
        font-weight: 100;
        font-style: normal;
        text-align: center;
      }
      a {
        color: #fff;
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
    </style>
  </head>
  <body>
    <div>
      <p>{{ content }}</p>
      {% if page.redirect_url_lang %}
      <a href="{{ page.redirect_url_lang[site.lang] }}">
      {% else %}
      <a href="{{ page.redirect_url }}">
      {% endif %}
        {{ page.title }}
      </a>
    </div>
  </body>
</html>
